* {
    box-sizing: border-box;
}
  
body, p, h1, h2, h3 ,h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 5000px;
}

.header {
    width: 100%;
    height: 120px;
    background: url('./img/bg-header1.jpg');
    display: flex;
}

.header-logo {
    width: 30%;
    height: 120px;
    display: flex;
}

.header-1 {
    width: 50%;
}

.header-logo .logo {
    padding-left: 20px;
}

.category-second {
    padding-top: 20px;
    padding-left: 40px;
}

.category-second select {
    height: 40px;
    line-height: 40px;
    color: #666;
    font-size: 15px;
    background-color: #37b400;
}

.category-second select option {
    background-color: white;
}

.header-1 .logo .shipping-1 {
    padding-bottom: 20px;
} 

.down {
    margin-left: 73px;
}

.select-op {
    padding-top: 15px;
    padding-left: 50px;
    color: white;
}

.drink {
    padding-top: 28px;
    padding-left: 40px;
    color: white;
    font-size: 14px;
}

.search {
    width: 35%;
    height: 120px;
    padding-top: 20px;
}   

.search-key {
    font-size: 15px;
    width: 80%;
    height: 40px;
    border-radius: 5px;
}

.search button {
    height: 40px;
    width: 10%;
    border-radius: 5px;
    color: white;
    background-color: #6bce12;
}

.search button:hover {
    background-color: #777;
}

.contact-me {
    color: white;
    padding-top: 12px;
    font-size: 14px;
}

.contact-me .sales-off a{
    text-decoration: none;
    color: white;
}

.contact-me .sales-off a:hover {
    color: black;
}

.content {
    width: 35%;
    height: 120px;
}

.content-icon {
    color: white;
    padding-left: 260px;
    padding-top: 28px;
}

.content-icon .icon-1 {
    font-size: 28px;
}

.content-icon .icon-1:hover {
    color: rgb(56, 52, 52);
}

.price {
    padding-left: 400px;
    color: white;
}

.reg-log {
    color: #fff;
    padding-top: 12px;
    padding-left: 90px;
}

.reg-log a {
    text-decoration: none;
    color: white;
}

.reg-log a:hover {
    color: black;
}

.reg-log b {
    font-size: 18px;
}

.body-common {
    width: 100%;
    height: 4000px;
    background: white;
}

.category {
    width: 100%;
    height: 400px;
    display: flex;
}

.categories {
    width: 22%;
    height: 400px;
    
}

.categories .categories-1 {
    width: 85%;
    height: 360px;
    background-color: #d6d6d675;
    margin-left: 20px;
}

.categories-1 ul li {
    list-style: none;
    padding-bottom: 9px;
}

.categories-1 ul li a {
    text-decoration: none;
    list-style: none;
    color: #666; 
}

.categories-1 ul li a:hover {
    color: red;
}

.categories-1 ul li a .icon-2 {
   margin-right: 10px;
   color: #666;
   font-size: 18px;
}

.categories-1 ul li .icon-3 {
    margin-right: 10px;
    color: goldenrod;
    font-size: 15px;
 }

.categories-1 ul li a .right-1 {
    position: relative;
    left: 110px;
    font-size: 13px;
    opacity: 0.5;
}
.categories-1 ul li a .right-2 {
    position: relative;
    left: 130px;
    font-size: 13px;
    opacity: 0.5;
}
.categories-1 ul li a .right-3 {
    position: relative;
    left: 140px;
    font-size: 13px;
    opacity: 0.5;
}
.categories-1 ul li a .right-4 {
    position: relative;
    left: 112px;
    font-size: 13px;
    opacity: 0.5;
}
.categories-1 ul li a .right-5 {
    position: relative;
    left: 80px;
    font-size: 13px;
    opacity: 0.5;
}
.categories-1 ul li a .right-6 {
    position: relative;
    left: 58px;
    font-size: 13px;
    opacity: 0.5;
}

.img-banner {
    width: 56%;
    height: 400px;
}

.slide-show {
    width: 100%;
    height: 350px;
    margin-top: 25px;
}

.slide-show-1  {
    height: 100%;
}

.fast-items {
    width: 22%;
    height: 400px;
}

.item-five-stars {
    width: 80%;
    height: 300px;
    margin-top: 22px;
    margin-left: 25px;
    border-radius: 10px;
}

.title-fast {
    width: 100%;
    height: 50px;
    background: #6bce12;
    color: white;
    padding-top: 12px;
    padding-left: 15px;
}

.item-five-stars-1 {
    width: 100%;
    height: 75px;
    display: flex;
}

.img-item {
    width: 30%;
    height: 75px;
}

.stars-title-price {
    width: 70%;
    height: 75px;
    padding-left: 10px;
    background: whitesmoke;
}

.stars-title-price .stars {
    color: #6bce12;
    font-size: 10px;
}

.stars-title-price p {
    font-size: 13px;
    padding-top: 10px;
}

.stars-title-price p:hover {
    color: #6ace12;
}

.stars-title-price strong {
    color: #6bce12;
    font-size: 18px;
}

.item-five-stars-2 {
    width: 100%;
    height: 100px; 
    display: flex;
    background: whitesmoke;
}

.img-item-1 {
    width: 30%;
    height: 75px;
}    

.stars-title-price-1 {
    width: 70%;
    height: 100px;
    padding-left: 10px;
    background: whitesmoke;
}

.stars-title-price-1 .stars {
    color: #6bce12;
    font-size: 10px;
}

.stars-title-price-1 p {
    font-size: 14px;
    padding-top: 10px;
}

.stars-title-price-1 p:hover {
    color: #6ace12;
}

.stars-title-price-1 strong {
    color: #6bce12;
    font-size: 18px;
}

.food {
    width: 100%;
    height: 2600px;
    /* background: teal; */
    display: flex;
}

.recipe {
    width: 22%;
    height: 2000px;
}

.recipe-img {
    width: 80%;
    height: 400px;
    padding-left: 30px;
}

.hot-product {
    width: 100%;
    height: 500px;
}

.title-hot {
    width: 100%;
    height: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 18px;
}

.hot-img {
    width: 100%;
    height: 100px;
    display: flex;
    padding-left: 40px;
}

.image-all {
    width: 30%;
    height: 70px;
}

.img-all-title {
    width: 70%;
    height: 70px;   
    padding-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img-all-title .icon-stars {
    font-size: 10px;
    color: #fec42d;
}

.img-all-title p {
    font-size: 15px;
    padding-bottom: 10px;
}

.img-all-title strong {
    color: #58bb47;
}

.hotline-security {
    width: 100%;
    height: 500px;
}

.phone-hotline {
    width: 100%;
    height: 100px;
}

.call-us {
    width: 85%;
    height: 100px;
    margin-left: 20px;
}

.shipping-map {
    width: 94%;
    height: 100px;
    display: flex;
    margin-left: 20px;
    border: 1px solid #58bb478f;
    border-radius: 2px;
}

.info-security {
    width: 94%;
    height: 100px;
    display: flex;
    margin-left: 20px;
    border: 1px solid #58bb478f;
    border-radius: 2px;
}

.vip-member {
    width: 94%;
    height: 100px;
    display: flex;
    margin-left: 20px;
    border: 1px solid #58bb478f;
    border-radius: 2px;
}

.change-return {
    width: 94%;
    height: 100px;
    display: flex;
    margin-left: 20px;
    border: 1px solid #58bb478f;
    border-radius: 2px;
}

.icon-file {
    width: 20%;
    height: 70px;
    margin-top: 10px;
    margin-left: 20px;
}

.icon-file .file {
    font-size: 50px;
    color: #58bb47;
    padding-top: 10px;
    padding-left: 10px;
}

.shipping-map-1 {
    width: 60%;
    height: 70px;
    margin-top: 20px;
}

.shipping-map-1 a {
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.shipping-map-1 p {
    font-size: 15px;
    padding-top: 5px;
    opacity: 0.7;
}

.icon-file .shield {
    font-size: 45px;
    color: #58bb47;
    padding-top: 10px;
}

.icon-file .gift {
    font-size: 45px;
    color: #58bb47;
    padding-top: 10px;
}

.icon-file .money {
    font-size: 45px;
    color: #58bb47;
    padding-top: 10px;
    padding-right: 10px;
}

.new-posts {
    width: 100%;
    height: 600px;
}

.title-news {
    width: 100%;
    height: 100px;
}

.img-post {
    width: 100%;
    height: 150px;
} 

.img-fruit {
    width: 80%;
    height: 150px;
    margin-left: 20px;
}

.feeling {
    width: 100%;
    height: 100px;
} 

.feeling-fruit {
    width: 80%;
    height: 100px;
    margin-left: 20px;
    padding-top: 20px;
}

.feeling-fruit a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}  

.feeling-fruit p {
    padding-top: 10px;
    font-size: 14px;
    opacity: 0.6;
}

.feeling-fruit a:hover {
    color: #6ace12;
}

.img-post-1 {
    width: 100%;
    height: 150px;
} 

.feeling-1 {
    width: 100%;
    height: 100px;
} 

.reviews {
    width: 100%;
    height: 500px;
}

.customer-reviews {
    width: 100%;
    height: 100px;
}

.customer {
    width: 100%;
    height: 450px;
}

.customer-all {
    width: 90%;
    height: 400px;
    margin-left: 30px;
    border: 1px solid #e9ecf1;
}

.customer-img {
    width: 85%;
    height: 100px;
    margin-left: 20px;
    padding-left: 80px;
}

.customer-name {
    width: 85%;
    height: 50px;
    margin-left: 20px;
}

.customer-name h3 {
    padding-top: 10px;
    padding-left: 55px;
}

.reviews-top {
    width: 85%;
    height: 250px;
    margin-left: 20px;
}

.reviews-top p {
    padding-top: 30px;
    font-size: 19px;
    opacity: 0.6;
}

.product {
    width: 78%;
    height: 2000px;
    background: yellowgreen;
}