* {
    box-sizing: border-box;
}
  
body, p, h1, h2, h3 ,h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 5000px;
}

.header {
    width: 100%;
    height: 120px;
    background: url('./img/bg-header1.jpg');
    display: flex;
}

.header-logo {
    width: 30%;
    height: 120px;
    display: flex;
}

.header-1 {
    width: 50%;
}

.header-logo .logo {
    padding-left: 20px;
}

.category-second {
    padding-top: 20px;
    padding-left: 40px;
}

.category-second select {
    height: 40px;
    line-height: 40px;
    color: #666;
    font-size: 15px;
    background-color: #37b400;
}

.category-second select option {
    background-color: white;
}

.header-1 .logo .shipping-1 {
    padding-bottom: 20px;
} 

.down {
    margin-left: 73px;
}

.select-op {
    padding-top: 15px;
    padding-left: 50px;
    color: white;
}

.drink {
    padding-top: 28px;
    padding-left: 40px;
    color: white;
    font-size: 14px;
}

.search {
    width: 35%;
    height: 120px;
    padding-top: 20px;
}   

.search-key {
    font-size: 15px;
    width: 80%;
    height: 40px;
    border-radius: 5px;
}

.search button {
    height: 40px;
    width: 10%;
    border-radius: 5px;
    color: white;
    background-color: #6bce12;
}

.search button:hover {
    background-color: #777;
}

.contact-me {
    color: white;
    padding-top: 12px;
    font-size: 14px;
}

.contact-me .sales-off a{
    text-decoration: none;
    color: white;
}

.contact-me .sales-off a:hover {
    color: black;
}

.content {
    width: 35%;
    height: 120px;
}

.content-icon {
    color: white;
    padding-left: 260px;
    padding-top: 28px;
}

.content-icon .icon-1 {
    font-size: 28px;
}

.content-icon .icon-1:hover {
    color: rgb(56, 52, 52);
}

.price {
    padding-left: 400px;
    color: white;
}

.reg-log {
    color: #fff;
    padding-top: 12px;
    padding-left: 90px;
}

.reg-log a {
    text-decoration: none;
    color: white;
}

.reg-log a:hover {
    color: black;
}

.reg-log b {
    font-size: 18px;
}

.body-common {
    width: 100%;
    height: 4000px;
    background: whitesmoke;
}

.category {
    width: 100%;
    height: 400px;
    display: flex;
}

.categories {
    width: 22%;
    height: 400px;
    
}

.categories .categories-1 {
    width: 85%;
    height: 360px;
    background-color: #d6d6d675;
    margin-left: 20px;
}

.categories-1 ul li {
    list-style: none;
    padding-bottom: 9px;
}

.categories-1 ul li a {
    text-decoration: none;
    list-style: none;
    color: #666; 
}

.categories-1 ul li a:hover {
    color: red;
}

.categories-1 ul li a .icon-2 {
   margin-right: 10px;
   color: #666;
   font-size: 18px;
}

.categories-1 ul li .icon-3 {
    margin-right: 10px;
    color: goldenrod;
    font-size: 15px;
 }

.categories-1 ul li a .right-1 {
    position: relative;
    left: 110px;
    font-size: 13px;
    opacity: 0.5;
}
.categories-1 ul li a .right-2 {
    position: relative;
    left: 130px;
    font-size: 13px;
    opacity: 0.5;
}
.categories-1 ul li a .right-3 {
    position: relative;
    left: 140px;
    font-size: 13px;
    opacity: 0.5;
}
.categories-1 ul li a .right-4 {
    position: relative;
    left: 112px;
    font-size: 13px;
    opacity: 0.5;
}
.categories-1 ul li a .right-5 {
    position: relative;
    left: 80px;
    font-size: 13px;
    opacity: 0.5;
}
.categories-1 ul li a .right-6 {
    position: relative;
    left: 58px;
    font-size: 13px;
    opacity: 0.5;
}

.img-banner {
    width: 56%;
    height: 400px;
}

.slide-show {
    width: 100%;
    height: 350px;
    margin-top: 25px;
}

.fast-items {
    width: 22%;
    height: 400px;
}

.item-five-stars {
    width: 80%;
    height: 300px;
    margin-top: 22px;
    margin-left: 25px;
    border-radius: 10px;
}

.title-fast {
    width: 100%;
    height: 50px;
    background: #6bce12;
    color: white;
    padding-top: 12px;
    padding-left: 15px;
}

.item-five-stars-1 {
    width: 100%;
    height: 75px;
    display: flex;
}

.img-item {
    width: 30%;
    height: 75px;
}

.stars-title-price {
    width: 70%;
    height: 75px;
    padding-left: 10px;
    background: white;
}

.stars-title-price .stars {
    color: #6bce12;
    font-size: 10px;
}

.stars-title-price p {
    font-size: 13px;
    padding-top: 10px;
}

.stars-title-price p:hover {
    color: #6ace12;
}

.stars-title-price strong {
    color: #6bce12;
    font-size: 18px;
}

.item-five-stars-2 {
    width: 100%;
    height: 100px; 
    display: flex;
}

.img-item-1 {
    width: 30%;
    height: 75px;
}

.stars-title-price-1 {
    width: 70%;
    height: 100px;
    padding-left: 10px;
}

.stars-title-price-1 .stars {
    color: #6bce12;
    font-size: 10px;
}

.stars-title-price-1 p {
    font-size: 14px;
    padding-top: 10px;
}

.stars-title-price-1 p:hover {
    color: #6ace12;
}

.stars-title-price-1 strong {
    color: #6bce12;
    font-size: 18px;
}

.food {
    width: 100%;
    height: 2600px;
    background: teal;
}

.recipe {
    width: 22%;
    height: 2000px;
    background: violet;
}

.recipe-img {
    width: 100%;
    height: 400px;
    background: tomato;
}

.hot-product {
    width: 100%;
    height: 500px;
    background: yellowgreen;
}

.title-hot {
    width: 100%;
    height: 100px;
    background: rgb(66, 12, 12);
}

.hot-img {
    width: 100%;
    height: 100px;
    background: white;
}

.hotline-security {
    width: 100%;
    height: 500px;
    background: rgb(213, 224, 190);
}

.phone-hotline {
    width: 100%;
    height: 100px;
    background: rgb(240, 133, 133);
}

.shipping-map {
    width: 100%;
    height: 100px;
    background: rgb(39, 24, 24);
}

.info-security {
    width: 100%;
    height: 100px;
    background: rgba(170, 147, 147, 0);
}

.vip-member {
    width: 100%;
    height: 100px;
    background: tomato;
}

.change-return {
    width: 100%;
    height: 100px;
    background: rgb(110, 97, 95)
}

.new-posts {
    width: 100%;
    height: 600px;
    background: yellow
}

.title-news {
    width: 100%;
    height: 100px;
    background: violet;
}

.img-post {
    width: 100%;
    height: 150px;
    background: red;
} 

.feeling {
    width: 100%;
    height: 100px;
    background: rgba(245, 16, 245, 0.952);
} 

.img-post-1 {
    width: 100%;
    height: 150px;
    background: red;
} 

.feeling-1 {
    width: 100%;
    height: 100px;
} 

.reviews {
    width: 100%;
    height: 300px;
    background: cadetblue;
}